body {
    margin: 0;
    text-align: center;
    background-color: #598234;

}

#navigation_bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #89da59;
    position: fixed;
    height: 100%;
    overflow: auto;
}

#navigation_bar li a{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

#navigation_bar li a:hover{
    background-color: #FFFFFF;
    color: blue;
}

#page_content{
    margin-left: 16%;
    padding: 2px;
    height: 100%;
    /* Merge Test */
}

#bookworm_home{
    height: 100px;
    width: 100px;
}
#home {
    text-align: center;
}
.title {
    margin-bottom: -10px;
}

.table_row {
    display: inline-block;
    vertical-align: top;
    border: 1px solid black;
}

.cell_primary {
    display: table-cell;
    width: 200px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    background-color: #f0810f;
}

.cell_secondary {
    display: table-cell;
    width: 200px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    background-color: #d9b44a;
}
