/*
Travis Mitchell and Skye Antinozzi
Create for UMM CSCI 3601 Software Design and Development
Lab Assignment 1
*/
body {
    margin: 0;
    text-align: center;
    background-color: #598234;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

#navigation_bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 8%;
    background-color: #89da59;
    position: fixed;
    height: 100%;
    overflow: auto;
}

#navigation_bar li a{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

#navigation_bar li a:hover{
    background-color: #598234;
}

#page_content{
    margin-left: 8%;
    padding: 2px;
    height: 100%;
}


#bookworm_home{
    height: 80%;
    width: 80%;
}

#home {
    text-align: center;
}

/* Nesting. Used to apply a specific font
   style to a specific piece of text as to not
   disturb the font style of other texts in the div.
 */
#home h2{
    font-style: italic;
}

.title {
    margin-bottom: -10px;
}


.table_row {
    display: inline-block;
    vertical-align: top;
    border: 1px solid black;
}

.cell_primary {
    display: table-cell;
    width: 250px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    background-color: #f0810f;
}

.cell_secondary {
    display: table-cell;
    width: 250px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    background-color: #d9b44a;
}

/* Grouping. Used to we can apply the same size
   to many images in the webpage without having
   to re-set each size over and over again.
 */
#books_image, #tv_image, #collectibles_image, #board_games_image, #music_image {
    width: 22%;
    height: 22%;
}

/* Rounded edge border is a CSS3 feature */
footer, header{
    border-radius: 25px;
    margin: 5%;

    border: 2px solid black;
    padding: 20px;
}
header {
    margin-top: 1%;
    margin-bottom: 2%;
}
